header {
  background-color: rgb(243, 142, 114);
  margin-top: auto;
}

header nav ul {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: flex-end;
}

a {
  text-decoration: none !important;
  color: white;
}

.nav-left {
  margin-right: auto;
  padding: 25px 25px;
}

.nav-right {
  padding: 25px 25px;
}
